  /* background-color: #282c34; */

.two-panes {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media (min-width: 650px) {
  .two-panes {
    flex-direction: row;
  }

  .two-panes_left {
    flex-grow: 1;
  }

  .two-panes_right {
    flex-grow: 5;
  }
}

.two-panes_left,
.two-panes_right {
  padding: 1rem;
}

.two-panes_left {
  background: #f6f6f8;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.title {
  margin-top: 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e3e3e3;
}

.ingredients {
  margin-bottom: 1rem;
}
