.header {
  background: white;
  box-shadow: 0 2px 8px #f0f1f2;
  z-index: 1;
}

.header_logo {
  height: 28px;
}

.u-bg-white {
  background: white;
}

.u-pt-16 {
  padding-top: 16px;
}

.loading {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading_text {
  margin-top: 2rem;
  font-size: 2rem;
}
